[Unit]
Description=Run CBTooll analytics digests every hour

[Timer]
OnCalendar=hourly
Persistent=true
Unit=analytics-digests.service

[Install]
WantedBy=timers.target
